@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Raleway [300, 400, 700, 800]
Open Sans [300, 400, 700] */

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
    color: var(--color-black);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;

}


header {
    position: absolute;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 6px #00000029;
}

.header__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    color: #08A6E4;
    margin: 17px 0;
}

.header__wrapper nav {
    width: 512px;  
}

.header__wrapper ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper li {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.28px;
    line-height: 15px;
}

.header__wrapper a {
    color: var(--color-grey);
    display: inline-block;
    padding: 28px 16px 24px;
    border-bottom: 4px solid transparent;
}

.header__wrapper a:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}


/* End of Header */


.opening__section {
    position: relative;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__wrapper {
    margin-top: 130px;
}

.opening__title {
    line-height: 57px;
    font-family: var(--font-raleway);
    font-size: 49px;
    font-weight: 400;
    margin: 0;
}

.opening_text {
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 38px 0;
}

.opening_btn {
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 22px 157px 23px 157px;
}

.opening__photo {
    height: auto;
    width: 100%;
    padding-bottom: 78px;
}


/* End of Opening section  */

.section__stats--wrapper {
    height: 531px;
    text-align: center;
}

.stats__section {
    text-align: center;
    margin-top: 22px;
}

.stats__boxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 101px;
}

.box {
    font-family: 'Raleway', sans-serif;
}

.stats__title {
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.box__circle {
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    left: 25%;
    justify-content: center;
    width: 63px;
    height: 63px;
    border-style: none;
}

.box__image {
    position: absolute;
}

.box .person {
    background-color: var(--color-redish);
}

.box .person img {
    top: 5%;
}

.box .eye {
    background-color: var(--color-primary);
}

.box .eye img {
    top: 20%;
}

.box .catalog {
    background-color: var(--color-green);
}

.box .catalog img {
    top: 10%;
}

.box .box__number {
    line-height: 24px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5.96px;
}

.box .box__text--person,
.box .box__text--catalog {
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: var(--color-grey);
}

.box .box__text--eye {
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--color-grey);
}

.box .box__text--eye,
.box .box__text--catalog {
    padding: 0 25px;
}

.stats__boxes .box--person {
    width: 116px;
    height: 140px;

}

.stats__boxes .box--eye {
    width: 176px;
    height: 167px;
}

.stats__boxes .box--catalog {
    width: 163px;
    height: 168px;
}



/* End of Stats Section */



.section__benefits--wrapper {
    background-color: var(--color-light-grey);
    height: 1395px;
}

.benefits__section {
    /* padding: 106px auto; */
    width: 1124px;
}

.benefits__section--one {
    position: relative;
    top: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 5px;
}

.benefits__section--one .section--one--text {
    width: 416px;
    height: 188px;
    margin-left: 35px;
    border: 2px solid black;
}

.section--one--text .benefits__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
}

.section--one--text .benefits__text {
    line-height: 22px;
    font-size: 16px;
    font-weight: 300;
}


.section--one--text .benefits__line {
    border: 4px solid var(--color-redish);
    width: 327px;
    margin-top: 50px;
    display: block;
}

.section--one--img {
    border: 2px solid black;
    border-radius: 41px;
    position: relative;
    justify-content: center;
    width: 255px;
    height: 255px;
    border-style: none;
}


.benefits__section--one .macbook {
    background-color: transparent;
}


.benefits__section--one .section--one--img {
    margin-bottom: 77px;
}

.section--one--img img {
    position: absolute;
    width: 386px;
    height: 219px;
    right: 90px;
    top: 90px;
    bottom: 38px;

}

.benefits__section .section--one--img::before {
    content: '';
    top: 58px;
    right: 91px;
    width: 150px;
    height: 150px;
    border-radius: 41px;
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--color-redish);
}





.benefits__section--two {
    position: relative;
    height: 370px;
    top: 137px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 5px;
}

.benefits__section--two .section--two--text {
    font-family: 'Open Sans', sans-serif;
    width: 416px;
    height: 230px;
    margin-right: 20px;
    border: 2px solid black;
}

.section--two--text .benefits__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    width: 246px;
}

.section--two--text .benefits__text {
    line-height: 22px;
    font-size: 16px;
    font-weight: 300;
    height: 84px;
}


.section--two--text .benefits__line {
    border: 4px solid var(--color-primary);
    width: 327px;
    margin-top: 50px;
    display: block;
}

.benefits__section--two .section--two--img {
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    left: 70px;
    bottom: 15px;
    justify-content: center;
    width: 320px;
    height: 320px;
    border-style: none;
    background-color: var(--color-primary);
}

.benefits__section--two .section--two--img img {
    position: absolute;
    top: 15px;
    width: 426px;
    height: 328px;
}

.section--three--text--wrapper {
    width: 623px;
    height: 370px;
    background-color: var(--color-white);
    border-radius: 5px;
}

.benefits__section--three {
    position: relative;
    height: 370px;
    top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light-grey);
}

.benefits__section--three .section--three--text {
    width: 623px;
    height: 370px;
    margin-left: 35px;
    margin-top: 38px;
} 

.section--three--text .benefits__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    width: 348px;
    height: 84px;
}

.section--three--text .benefits__text {
    line-height: 22px;
    font-size: 16px;
    font-weight: 300;
    width: 553px;
    height: 72px;
}


.section--three--text .benefits__line {
    border: 4px solid var(--color-green);
    width: 327px;
    margin-top: 50px;
    display: block;
}


.benefits__section--three .section--three--img{
    background-color: var(--color-light-grey);
    width: 440px;
    height: 370px;
    border-radius: 5px;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    padding-top: 98px;
} 

.benefits__section--three .section--three--img img {
    width: 296px;
    height: 207px;
} 



/* End of Benefits section  */


.section__pricing__wrapper {
    height: 616px;
    width: 1266px;
    margin: 100px auto;
}

.section__pricing__wrapper .pricing__section {
    width: 1266px;
    text-align: center;
}

.pricing__section h2 {
    margin-top: 0;
    margin-bottom: 50px;
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 300px;
}



.pricing__section--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1266px;
    height: 500px;
}

.pricing__border--red {
    border: 1px solid var(--color-redish);
}



.pricing__border--blue {
    border: 1px solid var(--color-primary);
}

.pricing__border--green {
    border: 1px solid var(--color-green);
}


.price__one--color {
    color: var(--color-redish);
}

.price__two--color {
    color: var(--color-primary);
}

.price__three--color {
    color: var(--color-green);
}


.pricing__section--outer {
    width: 372px;
    height: 461px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}


.pricing__section--middle {
    width: 405px;
    height: 500px;
    margin: 0 59px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__section--top h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.pricing__section--top {
    margin-top: 34px;
    margin-bottom: 59px;
}

.pricing__offer {
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #13253B;
}

.pricing__one--list ul {
    height: 175px;
    margin-bottom: 81px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing__two--list ul{
    height: 198px;
    margin-top: 0;
    margin-bottom: 79px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing__three--list ul{
    height: 175px;
    margin-top: 0;
    margin-bottom: 81px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing__third--height {
    margin-bottom: 40px;
}

.pricing__section--top h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #13253B;
}

.pricing__section--top p:nth-child(2) {
    font-size: 46px;
    font-weight: 300;
    margin-top: 14px;
    margin-bottom: 0;
}

.pricing__section nav li {
    line-height: 19px;
    font-size: 14px;
    font-weight: 400px;
}

.pricing__elements{
    text-align: center;
}

.pricing__element::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    border: 1px solid #55DFB4;
    border-radius: 2px;
    background-image: url("../images/Checkmark.svg");
}

.pricing__element--out::before {
    border: none;
    background-image: url("../images/Close.svg");
}


.pricing__btn {
    display: block;
    padding: 16px 57px;
    border-radius: 23px;
    color: white;
    line-height: 18px;
    font-size: 13px;
}

.btn__pricing--one {
    background-color: var(--color-redish);
    position: relative;
    bottom: 2.5%;
}

.btn__pricing--two {
    background-color: var(--color-primary);
    position: relative;
    bottom: 5%;
    box-shadow: 5px 10px 14px #07ACE629;
}

.btn__pricing--three {
    background-color: var(--color-green);
    position: relative;
    bottom: 5%;
}



/* End of Pricing section */



.contact__section {
    width: 896px;
    height: 376px;
    display: flex;
    margin: 155px auto;
}

.contact__section__container {
    width: 342px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__section__container h2 {
    line-height: 57px;
    font-family: 'Raleway', sans-serif;
    font-size: 48px; /*49 */
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 22px;
}

.contact__section__container p {
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
}

.contact__section__data {
    width: 100%;
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-grey);
}

.contact__element {
    display: flex;
}

.contact__element img {
    padding-right: 10px;
}


.contact__section__form {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 110px;
}


.contact__text__box {
    width: 440px;
    height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.contact__label {
    line-height: 15px;
    font-size: 11px;
    font-weight: 700;
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 3.28px;
}

.contact__text__box input{
    width: 440px;
    border: none;
    border-bottom: 1px solid #95989A;
}



.contact__checkbox {
    display: flex;
    margin-bottom: 20px;
    line-height: 17px;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}

.contact__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.contact__checkbox span {
    flex-shrink: 0;
    height: 24px;
    flex-basis: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    margin-right: 16px;
    padding: 6px;
}

.contact__checkbox input:checked + span {
    background-image: url(../images/Checkmark.svg);
    background-position: contain;
    background-size: center;
    background-repeat: no-repeat;
}

form button {
    display: block;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px 97px;
    border: none;
    line-height: 18px;
    font-size: 13px;
    font-weight: 700;
}


/* End of Contact section */


footer {
    position: relative;
    height: 89px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -5px 40px #00000029;
}

.footer__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    line-height: 30px;
    color: var(--color-primary);
    font-family: 'Raleway', sans-serif;;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 6px;
}

.footer__text {
    line-height: 15px;
    font-size: 11px;
    font-weight: 400;
    color: var(--color-grey);
    margin-bottom: 17px;
    margin-top: 6px;
}

.footer__icons img {
    margin-left: 20px;
}